/* Seletores por Tag */
body {
    font-family: 'Times New Roman';
    /* Cores e Fundos */
    /* background-color: orange; */
    /* background-image: url(../img/Nature_Scenery.jpg); */
    background-image: url('https://images3.alphacoders.com/621/621682.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    font-size: 14px;
    font-weight: bold;
    text-align: justify;
    line-height: 30px;
    /* Cores de Fonte */
    color: red;
}

h1 {
    color: cornsilk;
    text-transform: uppercase;
    text-align: center;
    background-color: brown;
    opacity: 0.5;
}

h2 {
    font-style: italic;
    text-align: center;
    color: rgba(255, 128, 0.4);
}

/* Seletores por classe */
.titulo {
    font-style: italic;
}

/* Seletores por id */
#saudacao {
    color: red;
}

/* Seletores combinados */
h3.subtitulo {
    color: green;
}

/* Seletores descendentes */
ul#lista li {
    color: blue;
    text-transform: uppercase;
    font-weight: bold;
}

p.decoration {
    text-decoration: underline;
}